
body{

}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #444;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

/*Responsive*/

@media (max-width: 1550px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}

@media (max-width: 300px) {

}


/*Responsive*/
